<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <!-- <link rel="stylesheet" href="D:\portfolio\css\style.css"> -->
     <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/color-1.css') }}">


     <!-- <link rel="stylesheet" href="../templates/css/style.css"> -->
     <!-- <link rel="stylesheet" href="../templates/css/skins/color-1.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/color-1.css') }}">

    <!-- <link rel="stylesheet" href="D:\portfolio\css\skins\color-1.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="D:\portfolio\css\skins\color-1.css" class="alternate-style" title="color-1" disabled> -->
    <link rel="stylesheet" href="../templates/css/skins/color-1.css" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="../templates/css/skins/color-2.css" class="alternate-style" title="color-2" disabled>
    <link rel="stylesheet" href="../templates/css/skins/color-3.css" class="alternate-style" title="color-3" disabled>
    <link rel="stylesheet" href="../templates/css/skins/color-4.css" class="alternate-style" title="color-4" disabled>
    <link rel="stylesheet" href="../templates/css/skins/color-5.css" class="alternate-style" title="color-5" disabled>
    <link rel="stylesheet" href="../templates/css/skins/style-switcher.css">
</head>
<body>
    <div class="main-container">
        <div class="aside">
            <div class="logo">
                <a href="#" style="color: rgb(220, 40, 88);"><span>I</span>ndra</a>
            </div>
            <div class="nav-toggler"> 
                <span></span>
            </div>
            <ul class="nav">
                <li>
                    <a href="#home" class="active"><i class="fa fa-home"></i>Home</a>
                </li>
                <li><a href="#about"><i class="fa fa-user"></i>About</a></li>
                <li><a href="#services"><i class="fa fa-list"></i>Services</a></li>
                <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
                <li><a href="#contact"><i class="fa fa-comments"></i>Contact</a></li>
            </ul>
        </div>
        <div class="main-content">
            <section class="home active section" id="home"> 
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">Hello, my name is <span class="name">IndrasenaReddy Annapureddy</span></h3>
                            <h3 class="my-proffession">I'm a <span class="typing">Web Designer</span></h3>
                            <p>As a passionate and creative web designer, 
                                I am eager to leverage my skills in HTML, CSS, JavaScript, 
                                and responsive design to create visually appealing and user-friendly websites. 
                                With a solid foundation in web design principles and a strong desire to learn, 
                                I aim to contribute to the development of innovative digital experiences. 
                                My goal is to work in a dynamic environment where I can apply my technical skills, collaborate with experienced professionals, 
                                and grow into a proficient web designer while delivering high-quality, engaging web solutions.</p>
                                <a href="../static/doc/IndrasenaReddy_Resume.pdf" alt="Please Visit My Linked-in" class="btn">Download CV</a>
                        </div>
                        <div class="home-img padd-15">
                            <img src="../static/images/myphoto1.jpg" alt="">
                            <!-- <img src="{{ url_for('static', filename='images/myphoto1.jpg') }}" alt="My Photo"> -->

                            <!-- <img src="../templates/myphoto1.jpg" alt=""> -->
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="about section " id="about"> 
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>About Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-content padd-15">
                            <div class="row">
                                <div class="about-text padd-15">
                                    <h3 style="color: rgb(220, 40, 88);">I'm Indra and <span>Web Developer</span></h3>
                                    <p>I've always been fascinated by how websites are built and 
                                        how they provide solutions to real-world problems. 
                                        Web development allows me to combine my creativity with technical skills 
                                        to design and build user-friendly websites. 
                                        I enjoy the process of making ideas come to life on the internet. 
                                        The constant evolution of technology and the opportunity to learn new skills excites me. 
                                        Ultimately, I want to create impactful digital experiences that are accessible and visually appealing.</p>
                                </div>
                            </div>
                             <div class="row">
                             <div class="personal-info padd-15">
                               <div class="info-item padd-15">
                                    <div class="row">
                                        <div class="info-item padd-15">
                                            <p>Birthday : <span>14 nov 2002</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Age : <span>22</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Website : <span>https://bold.pro/my/indrasenareddy-annapureddy</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Email : <span>indrasenareddyannapureddy4@gmail.com</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Degree : <span>B.Tech(Computer Science)</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Phone : <span>+91 9573167921</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>City : <span>Hyderabad</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="buttons padd-15">
                                        <a href="#contact" data-section-index="1" class="btn hire-me">Hire Me</a>
                                    </div>
                                </div>
                               </div>
                                <div class="skills padd-15">
                                    <div class="row">
                                        <div class="skill-item padd-15">
                                            <h5>html</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 80%;"></div>
                                                <div class="skill-percent">80%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>CSS</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 75%;"></div>
                                                <div class="skill-percent">75%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>JavaScript</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 75%;"></div>
                                                <div class="skill-percent">75%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>Java</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 70%;"></div>
                                                <div class="skill-percent">70%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               <div class="education padd-15">
                                <h3 class="title">Education</h3>
                                <div class="row">
                                    <div class="timeline-box padd-15">
                                        <div class="timeline shadow-dark">
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2020 - 2024
                                                    </h3>
                                                    <h4 class="timeline-title" style="color: rgb(220, 40, 88);">Bachelor of Technology in Computer Science</h4>
                                                    <p class="timeline-text">I graduated with a B.Tech in Computer Science Engineering from Sri Mittapalli College of Engineering in 2024.
                                                        With a CGPA of 7.08.
                                                    </p>
                                            </div>
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2018 - 2020
                                                    </h3>
                                                    <h4 class="timeline-title" style="color: rgb(220, 40, 88);">Intermediate (12th grade)</h4>
                                                    <p class="timeline-text">I completed my Intermediate (12th grade) with Mathematics, Physics, and Chemistry (MPC) from 
                                                        Sri Krishna Chaithanya jr.college in 2020, With a CGPA of 8.0.
                                                    </p>
                                            </div>
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2017 - 2017
                                                    </h3>
                                                    <h4 class="timeline-title" style="color: rgb(220, 40, 88);">SSC</h4>
                                                    <p class="timeline-text">I completed my SSC (10th grade) from Siddhardha High School in 2018, With a CGPA of 9.2.
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="service section" id="services">
                <div class="container">
                    <div class="row">
                        <div class="section-title ">
                            <h2>Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-mobile-alt"></i>
                            </div>
                            <h4 style="color: rgb(220, 40, 88);">Web Design</h4>
                            <p>Creative web design fresher with a strong grasp of UI/UX principles, skilled in creating visually appealing and user-friendly websites.</p>
                        </div>
                    </div>
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-laptop-code"></i>
                            </div>
                            <h4 style="color: rgb(220, 40, 88);">Web development</h4>
                            <p>Passionate web development fresher skilled in HTML, CSS, JavaScript, and responsive design, eager to create impactful user experiences.</p>
                        </div>
                    </div>
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-palette"></i>
                            </div>
                            <h4 style="color: rgb(220, 40, 88);">Frontend development</h4>
                            <p>Enthusiastic frontend development fresher skilled in HTML, CSS, JavaScript, and React, passionate about building responsive and user-friendly interfaces.</p>
                        </div>
                    </div>
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-code"></i>
                            </div>
                            <h4 style="color: rgb(220, 40, 88);">Java Developer</h4>
                            <p>Dedicated Java development fresher proficient in core Java, OOP concepts, and building scalable applications with a focus on efficiency.</p>
                        </div>
                    </div>
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <h4 style="color: rgb(220, 40, 88);">Ms Office</h4>
                            <p>Proficient MS Office fresher with expertise in Word, Excel, and PowerPoint, capable of creating professional documents and presentations efficiently.</p>
                        </div>
                    </div>
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <h4 style="color: rgb(220, 40, 88);">SQL</h4>
                            <p>SQL fresher with strong knowledge of database management, writing queries, and optimizing data retrieval for efficient and accurate results.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="portfolio section" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Portfolio</h2>
                        </div>
                    </div>
                    <div class="row">
                       <div class="portfolio-heading padd-15">
                          <h2 style="color: rgb(220, 40, 88);"><b>My Last projects :</b><h3 style="color: var(--skin-color);">RACE (Resource Aware Cost- Efficient Scheduler) :</h3>
                        <h3>Description :<p>Fog Computing is one of the new computing structures which takes the Cloud to the verge of the network.
                            The structure is formulated for applications that need low latency. 
                            Fog Computing has been projected to improve the disadvantages of Cloud Computing.
                             The system is confronted with the variability of dynamic resources that are heterogeneous and distributed. 
                             Hence, efficient scheduling and resource allocation are necessary to maximize the use of these resources and the satisfaction of users. 
                             In this paper, a resource-aware scheduler RACE (Resource Aware Cost- Efficient Scheduler) is proposed 
                             to distribute the incoming application modules to Fog devices that maximize resource utilization at the Fog layer, 
                             reduces the monetary cost of using Cloud resources with minimum execution time of applications and minimum bandwidth usage.
                              This RACE comprises of two algorithms. The ModuleScheduler in RACE categorizes the incoming application modules according
                               to their computation and bandwidth requirements which are then placed by CompareModule. Comprehensive experimental results 
                               obtained from the simulation by using if simulator show that our approach performs better in most of the cases as compared to the 
                               Traditional Cloud placement and the baseline algorithm
                           A resource-aware scheduler RACE (Resource Aware Cost-Efficient Scheduler) is proposed to distribute the incoming application modules 
                           to fog devices that maximize resource utilization at the fog layer, reduce the monitory cost of using cloud resources with minimum 
                           execution time of applications and minimum band width usage.
                           </p></h3></h2>
                       </div>
                   </div>
                   <div class="row">
                     <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <!-- <img src="D:\portfolio\project-1.webp" alt="" style="width: 400px;height: 400px;"> -->
                                <img src="../static/images/project-1.webp" alt="" style="width: 400px;height: 400px;">

                            </div>
                        </div>
                      </div>
                   </div>
                </div>
            </section>
            <section class="contact section" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Contact Me</h2>
                        </div>
                    </div>
                    <h3 class="contact-title padd-15">Have You Any Questions..?</h3>
                    <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICEs</h4>
                    <div class="row">
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <h4>Call Us on</h4>
                            <p>+91 9573167921</p>
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <h4><a href="mailto: indrasenareddyannapureddy4@gmail.com" alt="Please send me a Mail to -indrasenareddyannapureddy4@gmail.com" style="color: rgb(58, 63, 62);">Send me an Email</a></h4>
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-globe-europe"></i></div>
                            <h4><a href="https://bold.pro/my/indrasenareddy-annapureddy" alt="">Website</a></h4>
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-linkedin"></i></div>
                            <h4><a href="https://www.linkedin.com/in/indrasena-reddy-annapureddy/" alt="Please Visit My Linked-in">Linked-in</a></h4>
                        </div>
                    </div>
                    <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
                    <h4 class="contact-sub-title padd-15">I'M VERY RESPONSIVE TO MESSAGES</h4>
                    <div class="contact-form padd-15">
                        <form action="php/send_feedback.php" method="post">
                            <div class="row">
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <button type="submit" class="btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
            </section>
        </div>
    </div>
    <div class="style-switcher">
        <div class="style-switcher-toggler s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas"></i>
        </div>
        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.1.0/typed.umd.js" integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="D:\portfolio\js\script.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/color-1.css') }}">

    <!-- <script src="../templates/js/script.js"></script> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/style-switcher.js') }}"></script>
    <script src="../templates/js/style-switcher.js"></script>
</body>
</html>